<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="/css/drag.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="/js/drag.js" ></script>
    <script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>
<body style="background-image: url('/image/login.jpg')">
<div class="container-fluid" >
    <div class="row" style="height: 10em;"></div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4" style="padding:20px;background-color: rgba(255,255,255,0.1);border-radius: 10px">
            <form id="query-form" method="post" action="/doLogin" onsubmit="return false;" >
                <input type="hidden" id="valid" value="false">
                <div class="form-group input-group-sm ">
                    <label for="username" class="col-sm-3 control-label" style="font-size: 20px;color: #fff">用户名</label>
                    <div class="col-sm-9 input-group">
                        <input id="username" type="text" class="form-control" name="username"
                               th:placeholder="${usernameMsg==null}?'用户名/账号':${usernameMsg}"
                               style="font-size: 20px" onblur="showValid()" th:value="${username==null}?'':${username}">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="deleteUsername()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </span>
                    </div>
                </div>
                <div class="form-group input-group-sm ">
                    <label for="password" class="col-sm-3 control-label" style="font-size: 20px;color: #fff">密码</label>
                    <div class="col-sm-9 input-group">
                        <input id="password" type="password" class="form-control" name="password"
                               th:placeholder="${passwordMsg==null}?'密码':${passwordMsg}"
                               style="font-size: 20px" onblur="showValid()">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="deletePassword()">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </span>
                    </div>
                </div>

                <div class="form-group col-sm-10">
                    <div class="col-sm-3" id="drag" style="padding: 0px"></div>
                    <div class="col-sm-offset-1 col-sm-1">
                        <button type="button" id="query" class="btn btn-primary" style="width: 100px" onclick="return false;">登录</button>
                    </div>
                </div>
                <div>
                    <div class="col-sm-4 col-sm-offset-2">
                        <a href="/register">注册账号</a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2">
                        <a href="/changePassword">修改密码?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>

    function showValid() {
        var username = document.getElementById('username');
        var password = document.getElementById('password');
        if (username.value.trim()!=''&&password.value.trim()!=''){
            $('#drag').drag();
            document.getElementById('drag').css.value = 'drag'
        }
    }
    function deletePassword() {
        document.getElementById("password").value = '';
    }
    function deleteUsername() {
        document.getElementById("username").value = '';
    }

    $("#query").click(function () {
        var valid = document.getElementById("valid").value;
        if (valid=='true'){
            var form = document.getElementById('query-form')
            form.submit();
        }else {
            swal({
                text: '请验证'
            })
        }
    });

</script>
</html>