<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springboot.lw.coreweb.dao.UserMapper">
    <resultMap id="User" type="springboot.lw.core.model.User">
        <id property="id" column="id" />
        <result property="account" column="account" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <select id="getUserByAccount" parameterType="String" resultMap="User">
        select * from user where account=#{account}
    </select>
</mapper>