<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springboot.lw.core.mapper.dao.TemplateMapper">
    <resultMap id="Template" type="springboot.lw.core.model.Template">
        <id property="tid" column="tid" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="createTime" column="create_time" />
        <result property="publish" column="publish" />
        <result property="uid" column="uid" />
    </resultMap>
    <insert id="add" useGeneratedKeys="true" keyProperty="tid">
        insert into template(name, create_time, publish, description, uid)
        values (#{name},#{createTime},#{publish},#{description},#{uid})
    </insert>

    <delete id="deleteById" parameterType="Long">
        delete from template where tid=#{tid} and uid = #{userId}
    </delete>

    <select id="getById" resultType="springboot.lw.core.model.Template">
        select * from template where tid=#{tid} and publish=1
    </select>
    <select id="getByUserIdAndId" resultType="springboot.lw.core.model.Template">
        select * from  template where tid=#{tid} and uid = #{userId}
    </select>
    <select id="getUserTemplates" resultType="springboot.lw.core.model.Template">
        select * from  template where uid = #{userId}
    </select>
    <select id="getPublicTemplate" resultType="springboot.lw.core.model.Template">
        select * from  template where uid = #{userId} and publish=1
    </select>
</mapper>