<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="springboot.lw.core.mapper.dao.TemplateHistoryMapper">

    <resultMap id="TemplateHistory" type="springboot.lw.core.model.TemplateHistory">
        <id property="hid" column="hid"/>
        <result property="content" column="content"/>
        <result property="modifiedTime" column="modified_time" />
        <result property="success" column="success" />
        <association property="template" resultMap="springboot.lw.core.mapper.dao.TemplateMapper.Template" />
    </resultMap>

    <sql id="double-select-field">
        hid,content,h.tid,h.modified_time,success,h.modified_time,publish,`name`
    </sql>

    <sql id="three-select-field">
        hid,content,t.tid,h.modified_time,success,publish,`name`,u.username,u.id
    </sql>

    <sql id="double-table">
        template_history as h,template as t
    </sql>

    <sql id="double-concat-sql">
         h.tid=t.tid
    </sql>

    <sql id="three-table">
        template_history as h,template as t,`user` as u
    </sql>

    <sql id="three-concat-sql">
         h.tid=t.tid and u.id=t.uid
    </sql>

    <insert id="add">
        insert into template_history(tid, success, modified_time, content)
        values(#{template.tid},#{success},#{modifiedTime},#{content})
    </insert>
    <select id="getByTid" resultMap="TemplateHistory">
        select
          <include refid="three-select-field" />
        from <include refid="three-table"/> where h.tid = #{tid} and <include refid="three-concat-sql"/>
    </select>
    <select id="getLast" resultMap="TemplateHistory">
        select
        <include refid="three-select-field" />
        from <include refid="three-table"/> where h.tid = #{tid} and <include refid="three-concat-sql"/> order by h.modified_time desc limit 1
    </select>
    <select id="getLastSuccess" resultMap="TemplateHistory">
        select
        <include refid="three-select-field" />
        from <include refid="three-table"/> where h.tid = #{tid} and <include refid="three-concat-sql"/> and success=1 order by h.modified_time desc limit 1
    </select>
    <select id="getById" resultMap="TemplateHistory">
        select
          <include refid="double-select-field" />
        from <include refid="double-table"/> where hid = #{hid} and <include refid="double-concat-sql"/>
    </select>
    <select id="getByUserLast" resultMap="TemplateHistory">
        select
        <include refid="double-select-field" />
        from <include refid="three-table"/>
        where <include refid="three-concat-sql"/> and u.id=#{userId} order by h.modified_time desc limit 1
    </select>
    <select id="getByTidAndHid" resultMap="TemplateHistory">
        select
        <include refid="double-select-field" />
        from <include refid="double-table"/> where hid = #{hid} and h.tid=#{tid} and <include refid="double-concat-sql"/>
    </select>

</mapper>