<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <div class="col-sm-12">
        <div class="row" style="float: left;" >
            <span id="span-tips-show" class="tooltip-toggle" data-toggle="tooltip"
                  data-placement="bottom" title="点击拉出" >
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"
                      style="font-size: 25px" ></span>
            </span>
        </div>
        <div class="show">
            <div class="col-sm-12" style="height: 270px"></div>
            <div class="col-sm-offset-6">
            <span class="glyphicon glyphicon-home"
                  aria-hidden="true"
                  style="color: #b3abab;font-size:5em"></span>
            </div>
        </div>

    </div>
</div>
</body>
</html>