<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <div style="padding-top:3px;">
        <div class="col-sm-10" >
            <ul class="nav nav-tabs" th:if="${account!=null}">
                <li role="presentation">
                    <a th:href="@{'/user/main'(sign=${sign},time=${time},account=${account},tid=${tid})}">主页</a>
                </li>
                <li role="presentation"><a th:href="@{'/user/templates'(sign=${sign},time=${time},account=${account},tid=${tid})}">用户模板</a></li>
                <li role="presentation"><a th:href="@{'/user/public'(sign=${sign},time=${time},account=${account},tid=${tid})}">公开模板</a></li>
                <li id="userCenter" role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        用户中心<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="#" data-toggle="modal" data-target="#userInfo">用户信息</a></li>
                        <li role="presentation"><a th:href="@{${loginHost}+'/changePassword'}">修改密码</a></li>
                        <li role="presentation"><a th:href="@{${loginHost}+'/login'}">重新登录</a></li>
                    </ul>
                </li>
                <li role="presentation">
                    <a data-toggle="modal" data-target="#createTemplate">新建模板</a>
                </li>
            </ul>

            <ul class="nav nav-tabs" th:if="${account==null}">
                <li role="presentation">
                    <a th:href="@{${loginHost}+'/login'}">登录</a>
                </li>
                <li role="presentation"><a th:href="@{'/public/all'}">公开模板</a></li>
            </ul>
        </div>
        <div class="col-sm-2" th:if="${account!=null}">
            <a href="#" class="href" data-toggle="modal" data-target="#userInfo">
                <img th:src="@{${loginHost}+'/user/avatar'(sign=${sign},time=${time},account=${account},tid=${tid})}" width="40px" height="40px" style="border-radius: 20px">
                <span style="padding-left: 5px" th:text="${username}"></span>
            </a>
        </div>

        <div class="col-sm-2" th:if="${account==null}">
            <a th:src="@{${loginHost}+'/user/login'}" class="href" data-toggle="modal" data-target="#userInfo">
                未登录,请登录
            </a>
        </div>
    </div>
    <div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userInfo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >用户信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div style="margin: auto 100px">
                            <table class="table" style="font-size: 20px">
                                <tr>
                                    <td></td>
                                    <td>
                                        <img th:src="@{${loginHost}+'/user/avatar'(sign=${sign},time=${time},account=${account},tid=${tid})}" width="100px" height="100px">
                                        <button type="button" class="btn btn-sm-primary btn-sm" data-toggle="modal" data-target="#changeAvatar">更改头像</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>用户名</td>
                                    <td th:text="${username}"></td>

                                </tr>
                                <tr>
                                    <td>账号</td>
                                    <td th:text="${account}"></td>

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changeAvatar" tabindex="-1" role="dialog" aria-labelledby="changeAvatar" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >修改头像</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div style="margin: auto 100px">
                            <input type="file" name="reportFile" id="reportFile" multiple class="file-loading" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createTemplate" tabindex="-1" role="dialog" aria-labelledby="createTemplate" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" >新增模板</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-left: 20px;margin-right: 20px">
                        <label class="control-label">模板名称</label>
                        <input class="form-control" id="create-template-name">
                    </div>
                    <div class="row" style="margin-left: 20px;margin-right: 20px">
                        <label class="control-label">模板描述</label>
                        <textarea class="form-control" rows="5" cols="10" id="create-template-description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="add-btn">增加</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $("#add-btn").click(function () {
                var data = {
                    account:$("#account").val(),
                    time: $("#time").val(),
                    tid: $("#tid").val(),
                    sign: $("#sign").val(),
                    templateName: $("#create-template-name").val(),
                    description: $("#create-template-description").val()
                }
                $.ajax({
                    type: 'post',
                    async: false,
                    url: "/user/templates/create",
                    data: data,
                    success: function (data) {
                        $("body").html(data)
                    }
                })
            });

            $("#userCenter").mouseover(function () {
                $("#userCenter").attr("class","dropdown open")
            }).mouseout(function () {
                $("#userCenter").attr("class","dropdown")
            });
        });

        var FileInput = function () {
            var oFile = new Object();

            //初始化fileinput控件（第一次初始化）
            oFile.Init = function(ctrlName, uploadUrl) {
                var control = $('#' + ctrlName);

                //初始化上传控件的样式
                control.fileinput({
                    language: 'zh',                                         //设置语言
                    uploadUrl: uploadUrl,                                   //上传的地址
                    allowedFileExtensions: ['jpg'],    //接收的文件后缀
                    showUpload: true,                                       //是否显示上传按钮
                    showCaption: false,                                     //是否显示标题
                    browseClass: "btn btn-primary",                         //按钮样式
                    maxFileCount: 1,                                       //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount:true,
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    maxFileSize: 3072,
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                    uploadExtraData:function (previewId, index) {           //传参
                        var data = {
                            "reportGroupId": $('#lbl_groupId').html(),      //此处自定义传参
                        };
                        return data;
                    }
                });

                //导入文件上传完成之后的事件
                $("#reportFile").on("fileuploaded", function (event, data, previewId, index) {
                    //报告table刷新
                    var account = document.getElementById("account").value;
                    var time = document.getElementById("time").value;
                    var tid = document.getElementById("tid").value;
                    var sign = document.getElementById("sign").value;
                    location.href="/user/main?account="+account+"&time="+time+"&sign="+sign+"&tid="+tid;
                });
            }
            return oFile;
        };

        var oFileInput = new FileInput();
        var account = document.getElementById("account").value;
        var loginHost = document.getElementById("loginHost").value;
        var time = document.getElementById("time").value;
        var sign = document.getElementById("sign").value;
        //参数1:控件id、参数2:上传地址
        oFileInput.Init("reportFile", loginHost+"/user/avatar?account="+account+"&time="+time+"&sign="+sign);

    </script>
</div>

</body>
</html>