<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公开模板</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/js/bootstrap.js"></script>
    <style>
        .table tbody tr td,.table thead tr th{
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="container" th:fragment="copy">
    <div class="col-sm-offset-1 col-sm-10 panel panel-default" >
        <!-- Default panel contents -->
        <div class="panel-heading">公开模板</div>
        <div class="panel-body" >
            <table class="table table-bordered table-hover " style="border-radius: 10px">
                <thead>
                <tr >
                    <th>ID</th>
                    <th>名称</th>
                    <th>作者</th>
                    <th>创建时间</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="template:${templateList}">
                    <td th:text="${template.tid}"></td>
                    <td th:text="${template.name}"></td>
                    <td th:text="${template.username}"></td>
                    <td th:text="${#dates.format(template.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <span id="span-tips-hide" class="tooltip-toggle" data-toggle="tooltip"
                              data-placement="bottom" th:title="${template.description==null?'没有描述':template.description}">
                            <span class="glyphicon glyphicon-tag" aria-hidden="true" style="font-size: 20px;color: indianred" ></span>
                        </span>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           th:href="@{'/templates/use'(sign=${template.sign},time=${time},account=${account},tid=${template.tid})}">
                            运用模板
                        </a>
                        <a class="btn btn-primary btn-sm"
                           th:href="@{'/templates/result'(sign=${template.sign},time=${time},account=${account},tid=${template.tid})}">
                            查看结果
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>
</body>
<script>
    $('.tooltip-toggle').tooltip();
</script>
</html>